<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    </appSettings>

    <connectionStrings>
        <add name="veterinariaCrud"
             connectionString="Server=localhost;Port=3306;Database=veterinaria_crud;Uid=root;Pwd=12345678;"
             providerName="Pomelo.EntityFrameworkCore.MySql" />
    </connectionStrings>
</configuration>